<?xml version="1.0" encoding="utf-8"?>
<TableLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:stretchColumns="*">
  <TableRow
    android:id="@+id/calendar_weekdays"
    android:layout_height="match_parent"
    android:layout_width="match_parent"
    android:layout_weight="0.5">
    <TextView      
            android:text="@string/Mon"
            android:padding="3dip"
            android:gravity="center"/>
        <TextView
            android:text="@string/Tue"
            android:padding="3dip" 
            android:gravity="center"/>
        <TextView
            android:text="@string/Wed"
            android:padding="3dip" 
    android:gravity="center"/>
        <TextView
            android:text="@string/Thr"
            android:padding="3dip"
            android:gravity="center"/>
        <TextView
            android:text="@string/Fri"
            android:padding="3dip" 
            android:gravity="center"/>
        <TextView
            android:text="@string/Sat"
            android:padding="3dip" 
            android:gravity="center"/>
        <TextView
            android:text="@string/Sun"
            android:padding="3dip" 
            android:gravity="center"/>
    </TableRow>
  <TableRow
    android:id="@+id/calendar_firstweek"
    android:layout_height="match_parent"
    android:layout_width="match_parent"
    android:layout_weight="1">
    <TextView
            android:text=""
            android:gravity="center"
            android:layout_height="match_parent"
            />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"
       />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
  </TableRow>
  <TableRow
    android:id="@+id/calendar_secondweek"
    android:layout_height="match_parent"
    android:layout_width="match_parent"
    android:layout_weight="1">
    <TextView
            android:text=""
            android:layout_height="match_parent"
            android:gravity="center"
            />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"
       />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
  </TableRow>
  <TableRow
    android:id="@+id/calendar_thirdweek"
    android:layout_height="match_parent"
    android:layout_width="match_parent"
    android:layout_weight="1">
    <TextView
            android:text=""
            android:layout_height="match_parent"
            android:gravity="center"
            />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"
       />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
  </TableRow>
  <TableRow
    android:id="@+id/calendar_fourthweek"
    android:layout_height="match_parent"
    android:layout_width="match_parent"
    android:layout_weight="1">
    <TextView
            android:text=""
            android:layout_height="match_parent"
            android:gravity="center"
            />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"
        />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
  </TableRow>
  <TableRow
    android:id="@+id/calendar_fifthtweek"
    android:layout_height="match_parent"
    android:layout_width="match_parent"
    android:layout_weight="1">
    <TextView
            android:text=""
            android:layout_height="match_parent"
            android:gravity="center"
            />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"
        />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
  </TableRow>
  <TableRow
    android:id="@+id/calendar_sixthtweek"
    android:layout_height="match_parent"
    android:layout_width="match_parent"
    android:layout_weight="1">
    <TextView
            android:text=""
            android:layout_height="match_parent"
            android:gravity="center"
            />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"
        />
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
    <TextView
        android:text=""
        android:layout_height="match_parent"
        android:gravity="center"/>
  </TableRow>
</TableLayout>